.q1{
    height: 700px;
  width: 100%;
  background-color: rgba(4, 0, 247, 0.816);
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: rgb(154, 12, 231);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
}

.form{
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(244, 244, 244);
    padding: 30px;
    width: 550px;
    border-radius: 20px;
}


/* Boton envio */ 
.r1{
    position: absolute;
    margin-left: 45%;
    width: 10%;
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .r1 span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .r1 svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .r1:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .r1:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .r1:hover span {
    transform: translateX(5em);
  }
  
  .r1:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }